<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Burger</title>
</head>
<body>
<h3>Welcome to Spring Burger</h3>
<img th:src="@{/images/burger.jpg}" width="200">

<h2>Design your burger</h2>

<form method="post" th:object="${designBurger}">
  <div th:each="ingType : ${ingredientMap}">
    <h5 th:text="${ingType.getKey()}"></h5>
    <div th:each="ingTypeValue : ${ingType.getValue()}">
      <input type="checkbox" name="ingredients" th:value="${ingTypeValue.getId()}">
      <span th:text="${ingTypeValue.getName()}"></span>
    </div>
  </div>
  <br>
  <label>Burger Name <input type="text" id="name" name="name" th:field="${designBurger.name}"> </label>
  <br>
  <br>
  <button type="submit">Create My Burger</button>
</form>

</body>
</html>